/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header_top {
    display: flex;
    margin: auto;
    /* border: 2px solid  black; */
    height: 130px;
    padding: 12px;
    width: 100%;
    background-color: #bdebb4;
    /* background: url('https://scontent.fsxr1-2.fna.fbcdn.net/v/t39.30808-6/473322000_596900876394274_3231227313893941190_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=2a1932&_nc_ohc=wz04wVpexwYQ7kNvwE3U_HK&_nc_oc=AdpmT5oy8rkNHmlgpyES2XN2xFvxFzmU9fkHBramjvZAufwBxB_-Pfw962cT3-cbvP_ZyO2VoLZyicY982UCmat-&_nc_zt=23&_nc_ht=scontent.fsxr1-2.fna&_nc_gid=JJ5ZxP4eeJ-RPYjRIomOFQ&_nc_ss=7a389&oh=00_Af0pn87aFd5vzqs4QatBm6wyjnASTRS0FXZonLJI1CoXog&oe=69ECEC03'); */
    /* box-shadow: 1px, 13px, 10px rgb(239, 181, 181); */
    box-shadow: right color(srgb rgb(244, 232, 232) rgb(236, 97, 150) blue);

}
#head2{
    font-size: 13px;
    font-weight: bold;
    color: blue;
}


div>p {
    font-size:large;
    padding: 2px;
    margin: auto;
    color: rgb(12, 3, 3);
}

div img {
    text-align: center;
    align-items: center;

}

.navbar {
    margin: 0px, 12px;
    /* border: 4px solid black; */
    margin-top: 2px;
    padding: 12px 13px;
    /* display: flex; */
    box-shadow: 2px 12px 13px blue;
}

.navbar li {

    display:inline-block;
    width: 100%;
    height: 100px;
    /* this transports text from colum to row wise*/
    margin: 22px 5px;
    
}

.navbar li a {
    text-decoration: none;
    font-style: none;
    list-style-type: none;
    padding: 18px;
    display: flex;
    margin: auto;
    
    font: bold;
    cursor: pointer;
}

.navbar a {
    color: rgb(9, 2, 2);
    text-decoration: none;
    margin: 0 20px;
    /* position: relative; */
    /* font-size: 18px; */
}

.navbar a:hover {
    content: "";
    position: relative;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 5px;
    /* background: yellow; */
    transition: 0.5s;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background: rgb(14, 237, 114);
    transition: 0.3s;
}
.sections {
    display: flex;
    width: 100%;
    padding: 22px;
    /* background-color: #ce7272; */
    margin: auto;


}

.grid {
    /* border: 4px solid rgb(235, 224, 224); */
    box-shadow: 13px 3px 3px rgb(242, 230, 230);
    
}

.grid img {
    height: 200px;
    width: 220px;
    margin-top: 13px;

    float: left;
}

article {
    padding: 12px;
    margin: 2px;
    display: block;
}

img {

    padding: 2px;
    margin: 12px 2px;
    display: table;
    content: "";
    float: left;
}

.btn {
    padding: 4px;
    margin: 2px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    /* margin-right: 2px; */
    float: right;
    /* size: 2px; */
    cursor: pointer;
    border-radius: 12px;
}

.btn:hover {
    background-color: red;
}

h2 {
    text-align: center;
    margin: 22px 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menubar {
    align-items: center;
    display: flex;
    margin: 14px auto;
    box-shadow: 1px 3px 1px rgb(164, 164, 237);
}

.container div img {
    border-radius: 4px solid black;
    border-color: black;
}

.menu {
    grid-area: menu;
    height: 400px;
    padding: 13px 22px;
    background:#bdebb4;
    /* box-shadow: 12px 0px 9px white; */
    width: 40%;
    border: 2px solid rgb(242, 248, 246);

}
#midimg{
    height:500px;
    width: 500px;

  
}
.menu{
    font-size: large;
    font-weight:bold;
    text-align: justify;
    
}
.tname{
    margin: 22px 12px;
   padding: 12px;
   text-align: center;
   font-size: large;
   border-radius: 9px ;
   color: rgb(44, 13, 13);
   background-color: rgb(137, 124, 124);
   box-shadow:2px 1px  hsl(120, 20%, 97%);
}
.timage{

    height: 200px;
    width: 200px;
    float:start;
    border-radius: 10px ;
    cursor: pointer;
}
  .container {
    display: flex;
    margin: 22px 27px;
    color:rgb(4, 4, 16);
    padding: 9px 2px;
    background-color: rgb(183, 179, 181);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.container:hover{
    transform:scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.containerfluid{
    background-color: #f2efef;
     /* width: 200px;
  height: 200px; */
  margin-top:22px;
  background: #a3d7a4;
  transition: transform 1.4s ease;
  transform-style: preserve-3d;


}
.containerfluid:hover{
     transform: rotateY(2deg) rotateX(7deg);
}